@font-face{
	font-family:'cabinregular';
	src:url("./fonts/cabin-regular-webfont.eot");
	src:url("./fonts/cabin-regular-webfont.eot?#iefix") format("embedded-opentype"),
	url("./fonts/cabin-regular-webfont.woff") format("woff"),
	url("./fonts/cabin-regular-webfont.ttf") format("truetype"),
	url("./fonts/cabin-regular-webfont.svg#cabinregular") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'cabinmedium';
	src:url("./fonts/cabin-medium-webfont.eot");
	src:url("./fonts/cabin-medium-webfont.eot?#iefix") format("embedded-opentype"),
	url("./fonts/cabin-medium-webfont.woff") format("woff"),
	url("./fonts/cabin-medium-webfont.ttf") format("truetype"),
	url("./fonts/cabin-medium-webfont.svg#cabinmedium") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'cabinsemibold';
	src:url("./fonts/cabin-semibold-webfont.eot");
	src:url("./fonts/cabin-semibold-webfont.eot?#iefix") format("embedded-opentype"),
	url("./fonts/cabin-semibold-webfont.woff") format("woff"),
	url("./fonts/cabin-semibold-webfont.ttf") format("truetype"),
	url("./fonts/cabin-semibold-webfont.svg#cabinsemibold") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'cabinbold';
	src:url("./fonts/cabin-bold-webfont.eot");
	src:url("./fonts/cabin-bold-webfont.eot?#iefix") format("embedded-opentype"),
	url("./fonts/cabin-bold-webfont.woff") format("woff"),
	url("./fonts/cabin-bold-webfont.ttf") format("truetype"),
	url("./fonts/cabin-bold-webfont.svg#cabinbold") format("svg");
	font-weight:normal;
	font-style:normal
}

.quickanswer-portlet * {
	font-size: 12pt;
	font-family: cabinregular,Arial,sans-serif;
	font-weight: normal;
	color: #4c4c4c;
	margin: 0px;
	padding: 0px;
	outline: none;
}

.quickanswer-portlet .portlet-content, .portlet-minimized .portlet-content-container {
	padding: 0px !important;
}

.quickanswer-portlet .clear {
	clear: both;
}

.quickanswer-portlet a {
	text-decoration: none;
	color: #4c4c4c;
}

.quickanswer-portlet a:hover {
	color: #3683c0;
}

.quickanswer-portlet h1 {
	font-size: 26pt;
	margin: 0px;
	font-family: cabinregular, Arial, sans-serif;
	font-weight: normal;
}

.quickanswer-portlet h2 {
	font-size: 16pt;
	font-weight: bold;
	font-family: cabinmedium, Arial, sans-serif;
	margin-bottom: 10px;
	clear: both;
}

.quickanswer-portlet h3 {
	font-size: 14pt;
	font-weight: normal;
	font-family: cabinmedium, Arial, sans-serif;
	margin-bottom: 6px;
	clear: both;
}

.quickanswer-portlet .qa-header-right h4 {
	font-size: 12pt;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin-left: 26px;
	margin-bottom: 10px;
}

.quickanswer-portlet input, select, textarea, .aui-field-input-text {
	background: #FFFFFF none !important;
	border: 1px solid #3683c0 !important;
}

.quickanswer-portlet input.focus, textarea.focus, select:focus {
	background: #FFFFFF none !important;
	border: 1px solid #3683c0 !important;
	border-color: #3683c0 !important;
	outline: none !important;
}

.quickanswer-portlet .qa-input input {
	width: 600px;
}

.quickanswer-portlet .qa-button input {
	padding: 1px 5px 0px;
	background: #3683c0 none !important;
	color: white !important;
	border: none !important;
	font-size: 12pt !important;
	font-weight: normal !important;
	font-weight: normal !important;
	font-family: cabinmedium,Arial,sans-serif;
	text-shadow: none !important;
	text-transform: uppercase;
	line-height: 140%;
	height: 19px;
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-o-border-radius: 2px !important;
	-ms-border-radius: 2px !important;
	-khtml-border-radius: 2px !important;
	border-radius: 2px !important;
}

.quickanswer-portlet .qa-button input:hover {
	border: none !important;
	color: white !important;
}

.quickanswer-portlet .aui-form-validator-message {
	background-color: white;
	color: #4c4c4c;
}


.quickanswer-portlet #qa-header {
	position: relative;
	width: 1280px;
	height: 250px;
	float: left;
	overflow: hidden;
}

.quickanswer-portlet .qa-header-left {
	position: absolute;
	left: 0px;
	top: 85px;
	max-width: 600px;
	line-height: 22pt;
}

.quickanswer-portlet .qa-header-right {
	position: absolute;
	right: 0px;
	top: 60px;
	max-width: 680px;
}

.quickanswer-portlet .qa-header-desc {
	margin-left: 15px;
	position: relative;
	right: 0px;
	float: left;
	width: 207;
	heigth: 142;
}

.quickanswer-portlet .qa-header-desc span {
	position: absolute;
	left: 15px;
	top: 96px;
	width: 187px;
	margin: 0px;
	padding: 0px;
	line-height: 16px;
}

.quickanswer-portlet .qa-header-desc-img {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
}


.quickanswer-portlet .qa-main-header {
	position: relative;
	width: auto;
	height: 52px;
	margin-bottom: 10px;
	background-color: #272727;
}

.quickanswer-portlet .qa-main-header-button {
	background: #FFFFFF none !important;
	color: #6C6C6C !important;
	border: none !important;
	font-size: 11pt !important;
	text-shadow: none !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-khtml-border-radius: 0px !important;
	border-radius: 0px !important;
}

.quickanswer-portlet .qa-main-header-button input:hover {
	color: #3683c0 !important;
	border: 1px solid #6C6C6C !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-khtml-border-radius: 0px !important;
	border-radius: 0px !important;
}

.quickanswer-portlet .qa-main-header input {
	color: #6C6C6C !important;
	border: 1px solid #6C6C6C !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-khtml-border-radius: 0px !important;
	border-radius: 0px !important;
}


.quickanswer-portlet .qa-sort-search {
	position: absolute;
	top: 10px;
	right: 10px;
}

.quickanswer-portlet .qa-sort-search div {
	margin-left: 15px;
	float: left;
}

.quickanswer-portlet .qa-ask-question-button {
	position: absolute;
	top: 10px;
	left: 10px;
}

.quickanswer-portlet tbody {
	border: 0px;
}

.quickanswer-portlet .results-header {
	display: none;
}

.quickanswer-portlet table {
	border: 0px;
}

.quickanswer-portlet .results-grid {
	border: 0px;
}

.quickanswer-portlet .results-row {
	height: 100px;
	border-top: none !important;
	border-bottom: 1px solid #3683c0 !important;
}

.quickanswer-portlet .results-grid:hover {
	background-color: #FFFFFF !important;
}

.quickanswer-portlet .results-row td {
	padding: 0px;
	border: none;
}

.quickanswer-portlet .results-row.hover td {
	background-color: #FFFFFF !important;
}

.quickanswer-portlet .results-row.alt td {
	background: white;
}

.quickanswer-portlet .qa-view-questions-row-left {
	position: relative;
	width: 86px;
}

.quickanswer-portlet .qa-view-questions-stats-div {
	position: absolute;
	right: 6px;
	bottom: 10px;
	background-color: #d9d9d9;
	font-size: 10pt;
	text-align: center;
	height: 74px;
	width: 80px;
}

.quickanswer-portlet .accepted {
	background-color: #a4c424;
}

.quickanswer-portlet .qa-view-questions-stats-div .number-span {
	position: absolute;
	top: 8px;
	left: 0px;
	width: 80px;
	font-size: 20pt;
}

.quickanswer-portlet .qa-view-questions-stats-div .text-span {
	position: absolute;
	bottom: 6px;
	left: 0px;
	width: 80px;
	font-size: 9pt;
	text-transform: uppercase;
}

.quickanswer-portlet .qa-view-questions-row-title {
	position: relative;
	width: auto;
}

.quickanswer-portlet .qa-view-questions-title-div {
	color: #3683c0;
	font-size: 18pt;
	vertical-align: middle;
	padding-bottom: 12px;
	padding-left: 50px;
}

.quickanswer-portlet .qa-view-questions-tags-div {
	position: absolute;
	bottom: 10px;
	left: 50px;
}

.quickanswer-portlet .qa-view-questions-tags-div span {
	background-color: #d9d9d9;
	padding: 1px 20px;
	font-size: 10pt;
	margin-right: 5px;
}

.quickanswer-portlet .qa-view-questions-row-created {
	width: 165px;
	font-size: 10pt;
	position: relative;
}

.quickanswer-portlet .qa-view-questions-row-created a {
	position: absolute;
	right: 0px;
	bottom: 10px;
}

.quickanswer-portlet .taglib-page-iterator {
	margin-top: 16px;
}




.quickanswer-portlet .qa-question {
	margin-top: 36px;
	width: 1280px;
	border-bottom: 1px solid #3683c0;
}

.quickanswer-portlet .qa-question-header {
}

.quickanswer-portlet .qa-question-left {
	width: 350px;
	margin: 0px;
	float: left;
}

.quickanswer-portlet .qa-question-stats-div {
	margin-right: 5px;
	float: left;
	background-color: #d9d9d9;
	text-align: center;
	height: 74px;
	width: 80px;
}

.quickanswer-portlet .qa-question-stats-div .number-span {
	margin-top: 7px;
	font-size: 20pt;
}

.quickanswer-portlet .qa-question-stats-div .text-span {
	margin-top: 2px;
	font-size: 9pt;
	text-transform: uppercase;
}


.quickanswer-portlet .qa-question-middle {
	width: 930px;
	margin-left: 0px;
	float: left;
}

.quickanswer-portlet .qa-question-message {
	margin-bottom: 15px;
}

.quickanswer-portlet .qa-question-summary {
	clear: both;
}

.quickanswer-portlet .qa-question-tags-div {
	position: relative;
}

.quickanswer-portlet .qa-question-tags-div span {
	background-color: #d9d9d9;
	padding: 1px 20px;
	font-size: 10pt;
	margin-right: 5px;
}

.quickanswer-portlet .qa-question-asked-by-div {
	position: absolute;
	top: 0px;
	right: 0px;
}

.quickanswer-portlet .qa-question-footer {
	clear: both;
}

.quickanswer-portlet .qa-question-footer h2 {
	float: left;
}





.quickanswer-portlet .qa-answer {
	clear: both;
	margin-top: 10px;
	width: 1280px;
	border-bottom: 1px solid #3683c0;
	padding-bottom: 15px;
}

.quickanswer-portlet .qa-answer-summary {
	float: left;
	width: 350px;
}

.quickanswer-portlet .qa-answer-summary-table {
	margin-top: 10px;
}

.quickanswer-portlet .qa-answer-summary-table .qa-answer-summary-1td {
	text-align: center;
	vertical-align: middle;
	font-size: 16pt;
}

.quickanswer-portlet .qa-answer-summary-table .qa-answer-summary-2td {
	vertical-align: middle;
}

.quickanswer-portlet .qa-answer-summary-table .qa-answer-summary-2td span {
	margin-left: 10px;
}

.quickanswer-portlet .qa-answer-summary div {
	margin-bottom: 6px;
	width: 350px;
	vertical-align: middle;
}

.quickanswer-portlet .qa-answer-message {
	width: 930px;
	margin-left: 350px;
	
}

.quickanswer-portlet .qa-question-comments {
	margin-left: 350px;
	clear: both;
	margin-top: 15px;
}

.quickanswer-portlet .qa-comment-header {
	font-size: 14pt;
	font-weight: normal;
	font-family: cabinmedium, Arial, sans-serif;
	margin-bottom: 6px;
}

.quickanswer-portlet .qa-comments {
	margin-top: 15px;
}

.quickanswer-portlet .qa-comments .aui-field-wrapper {
	clear: none;
}

.quickanswer-portlet .qa-comment {
	border-top: 1px solid #d9d9d9;
	margin-top: 3px;
	margin-bottom: 5px;
}

.quickanswer-portlet .qa-comment-form {
	width: 930px;
}

.quickanswer-portlet .qa-comment-textarea {
	width: 928px;
}



.quickanswer-portlet .qa-new-answer {
	margin-top: 15px;
}

/* .quickanswer-portlet .qa-new-answer .aui-field-label { */
.quickanswer-portlet .aui-field-label {
	font-size: 18pt;
}

/* .quickanswer-portlet .qa-new-answer .aui-field-wrapper-content { */
.quickanswer-portlet .aui-field-wrapper-content {
	margin: 10px 0 20px 0;
}

.quickanswer-portlet .cke_skin_kama {
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	border: 0px solid #D3D3D3 !important;
	padding: 15px 0px 10px 0px !important;
}

.quickanswer-portlet .cke_focus {
	border: none !important;
	outline: none !important;
}

.quickanswer-portlet .cke_wrapper {
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	border: none !important;
	background: none !important;
	display: block !important;
	_display: inline-block !important;
	padding: 0px !important;
	width: 1279px
}

.quickanswer-portlet .cke_editor {
	width: 1278px !important;
}

.quickanswer-portlet .cke_toolbox_collapser {
	display: none;
}

.quickanswer-portlet .cke_break {
	clear: none !important;
}

.quickanswer-portlet .cke_contents {
	border: 1px solid #3683c0 !important;
	margin-top: 15px !important;
	padding-top: 5px !important;
}

.quickanswer-portlet .qa-save-button {
	float: right;
	margin-bottom: 20px;
}

.quickanswer-portlet .qa-save-button .qa-button {
	margin-left: 6px;
}

.quickanswer-portlet .qa-legal-info-a {
	text-decoration: underline;
}



.quickanswer-portlet #qa-notification-div {
	margin-bottom: 25px;
}

.quickanswer-portlet #qa-notifications {
	margin-left: 20px;
}
